@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Setelah import font, override font di Bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;

* {
 font-weight: 500
}


// @use '@/node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';

// base color
$color1: #F7F7F7;
$color2: #FEE160;
$color3: #C61D48;
$color4: #F7D7CE;