@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Setelah import font, override font di Bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;


// @use '@/node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';

// base color
$color1: #F7F7;
$color2: #FFB22C;
$color3: #854836;
$color4: #000;